{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="website icon" type="image/png"  href="{%  static 'images/logo.png' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
</head>
<body>
    <header>
        <li>
            <svg class="menu" onclick="showSidebar()" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ececec"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg>
            <h3 class="logo">audiophile</h3>
            <a class="hide" href="{% url 'home' %}"><p>HOME</p></a>
            <a class="hide" href="{% url 'headphones' %}"><p>HEADPHONES</p></a>
            <a class="hide" href="{% url 'speakers' %}"><p>SPEAKERS</p></a>
            <a class="hide" href="{% url 'earphones' %}"><p>EARPHONES</p></a>
            <div class="cart-container">
                <a class="cart" href="#"><img src="{% static 'images/cart.webp' %}" alt=""></a>
                <div class="cartCircle">0</div>
            </div>
        </li>
        <li class="sidebar">
            <a  class="close"  onclick="closeSidebar()"   href="#"><svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="30px" fill="#ececec"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a>
            <a href="{% url 'home' %}"><p>HOME</p></a>
            <a href="{% url 'headphones' %}"><p>HEADPHONES</p></a>
            <a href="{% url 'speakers' %}"><p>SPEAKERS</p></a>
            <a href="{% url 'earphones' %}"><p>EARPHONES</p></a>
        </li>
        <!-- <div class="loader"></div> -->
        

        
    </header>

    <div class="checkout-sections">
        <div class="section1">

            <h2>CHECKOUT</h2>
            <p>BILLING DETAILS</p>
            <div class="billing">

            <div class="form">
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
            </div>

             <div class="form">
            <label for="emailAddress">EmailAddress</label>
            <input type="text" id="emailAddress" name="emailAddress">
            </div>

            <div class="form">
            <label for="phoneNumber">Phone-Number</label>
            <input type="text" id="phoneNumber" name="phoneNumber">
            </div>

            </div>
 
            <p>SHIPPING INFO</p>
           
            <div class="shipping">

            <div class="form">
            <label for="address">Address</label>
            <input type="text" id="address" name="address">
            </div>

            <div class="shipping-2">

            <div class="form">
            <label for="zipcode">ZIPCode</label>
            <input type="text" id="zipcode" name="zipcode">
            </div>

            <div class="form">
            <label for="city">City</label>
            <input type="text" id="city" name="city">
            </div>

            <div class="form">
            <label for="country">Country</label>
            <input type="text" id="country" name="country">
            </div>
            </div>

            </div>

            <p>CONFIRM INFORMATION</p>

           <div class="confirmDetails">
                   <p style="color: white;"  > CONFIRM </p>
           </div>

        </div>

        <div class="section2">
            <h2>SUMMARY</h2>
            {% for orderItem in orderItems %}
                {%  if orderItem.quantity > 0 %} 
                    <div class="order-summary">
                        <img src="{{orderItem.product_image }}" alt="photo of order picked">
                        <div class="separate">
                        <h5>{{ orderItem.product_name}}</h5>
                        <p>${{ orderItem.product_price}}</p>
                        </div>
                        <p style="margin-left: 4em; font-size: 1.1em;"  > &#215;{{ orderItem.quantity}}</p>
                    </div>
                {% endif %} 
            {% endfor %}
            
            <hr style="width: 100%;" >
            {% for order in orders %}
                {%  if order.totalVat > 0  %}
                    <div class="total-summary">
                        <p>TOTAL</p>
                        <div  style="display:flex;"  class="flex-total">
                            <p>$</p>
                            <p>{{ order.orderItemsTotalPrice|floatformat:2 }}</p>
                        </div>               
                        <p>SHIPPING</p>
                        <p>$50.00</p>
                        <p>VAT  (INCLUDED)</p>
                        <p>${{ order.totalVat|floatformat:2}}</p>
                        <p id="grandTotal" >GRAND TOTAL</p>
                        <div  style="display:flex;"  class="flex-total">
                            <p  id="grandTotal" >$</p>
                            <p id="grandTotal" >{{ order.totalOrderPrice|floatformat:2 }}</p>
                        </div>
                    </div>
              
                    <div class="paybutton">
                        <a  class="button-p"  style="color: white; text-decoration: none; " href="{% url 'thankyou' %}"><p>CONTINUE & PAY</p></a>
                    </div>
                {%  endif %}
            {% endfor %}    

        </div>
    </div>

    <div class="footer">
        <div class="footer1">
            <h2>audiophile</h2>
            <p>Discover the difference with SonicWave, where our commitment to excellence ensures you’ll find the perfect gear to suit your unique audio needs. Experience sound like never before with products that are not only state-of-the-art but also crafted to deliver pure auditory bliss.</p>
        </div>
        <div class="footer2">
            <li>
                <p>HOME</p>
                <p>HEADPHONES</p>
                <p>SPEAKERS</p>
                <p>EARPHONES</p>
            </li>

        </div>
    </div> 

    <script defer src="{%  static 'common.js' %}" ></script>
    
</body>
</html>