{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="Stylesheet" href="{% static  'css/headphones.css' %}">
    <link rel="website icon" type="image/png"  href="{%  static 'images/logo.png' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speakers</title>
</head>
<body>
    <header>
        <li>
            <svg class="menu" onclick="showSidebar()" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ececec"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg>
            <h3 class="logo">audiophile</h3>
            <a class="hide" href="{% url 'home' %}"><p>HOME</p></a>
            <a class="hide" href="{% url 'headphones' %}"><p>HEADPHONES</p></a>
            <a class="hide" href="{% url 'speakers' %}"><p>SPEAKERS</p></a>
            <a class="hide" href="{% url 'earphones' %}"><p>EARPHONES</p></a>
            <div class="cart-container">
                <a id="cartIcon" class="cart" href='#'><img src="{% static 'images/cart.webp' %}" alt=""></a>
                <div class="cartCircle">0</div>
            </div>
        </li>
        <li class="sidebar">
            <a  class="close"  onclick="closeSidebar()"   href="#"><svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="30px" fill="#ececec"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a>
            <a href="{% url 'home' %}"><p>HOME</p></a>
            <a href="{% url 'headphones' %}"><p>HEADPHONES</p></a>
            <a href="{% url 'speakers' %}"><p>SPEAKERS</p></a>
            <a href="{% url 'earphones' %}"><p>EARPHONES</p></a>
        </li>
        <div class="loader"></div>
             <div style="position: absolute; right: 0%;"  class="cart-box">
                <img id="close" style="margin-left:13em;" src="{% static 'images/close.svg' %}">
                <div class="cart-title">
                    <p>CART</p>
                    <p>SUMMARY</p>
                </div>
            {%for orderItem in orderItems %}    
                {%  if orderItem.quantity > 0 %} 
                    <div style="display: flex;" class="order-summary">
                        <img src="{{ orderItem.product_image }}" alt="photo of order picked">
                        <div class="separate">
                            <h6>{{ orderItem.product_name}}</h6>
                            <p style="font-size: .6em;">${{ orderItem.product_price }}</p>
                        </div>
                        <div class="cart-sum">
                            <img src="{% static 'images/add.svg' %}" class="addCartButton" data-target="quantity-{{ forloop.counter }}" data-product-id="{{ orderItem.product_pk }}">
                            <p class="current" style="margin-bottom: 2.4em;" id="quantity-{{ forloop.counter }}"   >{{orderItem.quantity}}</p>
                            <img src="{% static 'images/remove.svg' %}" class="removeCartButton" data-target="quantity-{{ forloop.counter }}" data-product-id="{{ orderItem.product_pk }}" >
                        </div>
                    </div>
                {% endif %}
            {% endfor %}                        
                <hr>
                {% for order in orders %}
                <div class="total-summary">
                    <p>TOTAL</p>
                    <div style="display:flex;" class="flex-total">
                        <p>${{order.orderItemsTotalPrice|floatformat:2}}</p>
                        <p id="totalCurrent"></p>
                    </div>
                </div>
                {% endfor %}
                <div class="button-m">
                    <a class="button" href="{% url 'checkout' %}">CHECKOUT</a>
                </div>
            </div> 


        <div class="title">
            <h2>Speakers</h2>
        </div>
    </header>
    <div class="productsBackground">
        {% for speaker in speakers %}
        <div class="container-1">
            <div class="imgcontainer">
                <img class="headphone-image"  src="{{speaker.ImageUrl}}" alt="headphones image">
            </div>
            <div class="imgcontent">
                <h2>{{speaker.name}}</h2>
                <p>{{speaker.description}}</p>
                <a class="button" href="{% url 'speaker_detail' speaker.number %}">SEE PRODUCT</a>
            </div>
        </div>
        {% endfor %}

    </div>
    <div style="margin-top: 3em;" class="footer">
        <div class="footer1">
            <h2>audiophile</h2>
            <p>Discover the difference with SonicWave, where our commitment to excellence ensures you’ll find the perfect gear to suit your unique audio needs. Experience sound like never before with products that are not only state-of-the-art but also crafted to deliver pure auditory bliss.</p>
        </div>
        <div class="footer2">
            <li>
                <p>HOME</p>
                <p>HEADPHONES</p>
                <p>SPEAKERS</p>
                <p>EARPHONES</p>
            </li>

        </div>
    </div>
    <script src="{% static 'common.js' %}"></script>
</body>
</html>